@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$white-color: #ffffff;
$bg-grey: #f8f8f8;
$accent-red: #c0301c;
$grey-dots: #dddddd;

@mixin title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding-left: 37px;
  font-weight: bold;
  @media (max-width: 320px) {
    padding-left: 14px;
  }

  &::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: black;
    height: 3px;
    width: 50px;
    left: 549px;
    top: 49px;
    @media (max-width: 1200px) {
      left: 460px;
    }
    @media (max-width: 768px) {
      left: 336px;
    }
    @media (max-width: 550px) {
      left: 248px;
    }
    @media (max-width: 414px) {
      left: 180px;
    }
    @media (max-width: 360px) {
      left: 150px;
    }
    @media (max-width: 320px) {
      left: 119px;
    }
  }
}
@mixin subtitle {
  text-align: center;
  margin-top: 51px;
  padding-left: 33px;
  font-size: 16px;
  line-height: 24px;
  @media (max-width: 320px) {
    padding-left: 16px;
  }
}
@mixin teamPic {
  width: 263px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1200px) {
    width: 226px;
    height: 220px;
  }
  @media (max-width: 414px) {
    width: 365px;
    height: 355px;
  }
  @media (max-width: 360px) {
    width: 318px;
    height: 300px;
  }
  @media (max-width: 320px) {
    width: 290px;
    height: 270px;
  }
}
@mixin teamPicShadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#bbbbbb, 0.5);
}
@mixin worksPic {
  width: 360px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  margin-bottom: 10px;
  @media (max-width: 1200px) {
    width: 285px;
    height: 285px;
  }
  @media (max-width: 768px) {
    width: 220px;
    height: 220px;
  }
  @media (max-width: 414px) {
    width: 265px;
    height: 265px;
  }
  @media (max-width: 360px) {
    margin-left: -20px;
  }
}
@mixin workPicTransperent {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(192, 48, 28, 0.5);
}
@mixin boxItemTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 12px;
}

body {
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}
.page-main {
  position: relative;
  background-image: url(../img/bgmain.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  color: $white-color;
  @media (max-width: 1200px) {
    height: 600px;
  }
  @media (max-width: 1024px) {
    height: 600px;
  }
  @media (max-width: 414px) {
    height: 320px;
  }
}

header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1147px;
  margin: 0 auto;
  padding: 44px;
  @media (max-width: 1200px) {
    max-width: 1045px;
  }
  @media (max-width: 1024px) {
    max-width: 900px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 550px) {
    max-width: 430px;
  }
  @media (max-width: 414px) {
    display: none;
  }

  &__logo {
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 23px;
    font-weight: bold;
    @media (max-width: 414px) {
      display: none;
    }
  }
  &-menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    @media (max-width: 1024px) {
      padding-top: 40px;
    }
    @media (max-width: 414px) {
      flex-direction: column;
      padding: 0;
    }
    &__item {
      padding-left: 39px;
      letter-spacing: 0.6px;
      font-size: 17px;
      @media (max-width: 1024px) {
        padding-left: 22px;
      }
      @media (max-width: 550px) {
        padding-left: 12px;
      }
      @media (max-width: 414px) {
        padding-left: 0;
        padding-top: 20px;
      }
      a {
        text-decoration: none;
        color: $white-color;
      }
    }
  }
}
.wrap {
  position: relative;
  z-index: 2;
  height: 654px;
  width: 100%;
  max-width: 1147px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    height: 450px;
  }
  @media (max-width: 1024px) {
    height: 450px;
  }
  @media (max-width: 414px) {
    height: 290px;
  }
}
.block-title {
  text-align: center;

  &__title {
    font-size: 46px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 550px) {
      font-size: 35px;
    }
    @media (max-width: 414px) {
      line-height: 1.3;
    }
    @media (max-width: 360px) {
      font-size: 27px;
    }
    @media (max-width: 320px) {
      font-size: 24px;
    }
  }
  &__btn {
    text-decoration: none;
    color: $white-color;
    border: solid $white-color 2px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 17px;
    padding: 12px 30px;
    @media (max-width: 550px) {
      font-size: 14px;
    }
    @media (max-width: 360px) {
      font-size: 10px;
    }
  }
  &__desc {
    margin-bottom: 30px;
    font-size: 23px;
    letter-spacing: 0.2px;
    margin-bottom: 58px;
    @media (max-width: 550px) {
      font-size: 16px;
    }
    @media (max-width: 360px) {
      font-size: 12px;
    }
  }
}
.container {
  margin: 0 auto;
}
.container-title {
  height: 580px;
  padding-top: 72px;
  @media (max-width: 1024px) {
    padding-top: 60px;
    height: 545px;
  }
  @media (max-width: 550px) {
    height: 995px;
  }
  &__title {
    @include title;
  }
  &__subtitle {
    @include subtitle;
  }
}
.block-services {
  display: flex;
  margin-top: 67px;
  @media (max-width: 550px) {
    flex-direction: column;
  }
  &__item {
    flex-basis: 350px;
    margin-left: 30px;
    @media (max-width: 550px) {
      margin-left: 0;
      margin-bottom: -100px;
    }
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 28px;
  }
  &__desc {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  &__svg {
    display: flex;
    justify-content: center;
    .circle {
      width: 86px;
      height: 86px;
      border-radius: 100%;
      border: 2px solid #dddddd;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1024px) {
        width: 70px;
        height: 70px;
      }
      p {
        font-family: "Roboto Slab", serif;
        font-size: 40px;
        font-weight: bold;
        color: $accent-red;
      }
      svg#closetag {
        width: 48px;
        fill: $accent-red;
      }
      svg#lifebouy {
        width: 48px;
        fill: $accent-red;
      }
    }
    .circle:hover {
      background: $accent-red;
      p {
        color: $white-color;
      }
      svg#closetag {
        width: 48px;
        fill: $white-color;
      }
      svg#lifebouy {
        width: 48px;
        fill: $white-color;
      }
    }
  }
}
.page {
  background-color: $bg-grey;
  height: 852px;
  @media (max-width: 1024px) {
    height: 840px;
  }
  @media (max-width: 550px) {
    height: 950px;
  }
  @media (max-width: 414px) {
    height: 1180px;
  }
  @media (max-width: 360px) {
    height: 1225px;
  }
  @media (max-width: 320px) {
    height: 1270px;
  }
}
.container-about {
  height: 580px;
  padding-top: 72px;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
  &__title {
    @include title;
  }
  &__subtitle {
    @include subtitle;
  }
}
.block-description {
  display: flex;
  margin-top: 48px;
  @media (max-width: 1200px) {
    justify-content: space-between;
  }
  @media (max-width: 550px) {
    flex-direction: column;
  }
  &-item {
    font-size: 14px;
    line-height: 24px;
    @media (max-width: 1200px) {
      padding-left: 16px;
    }
  }
}
.block-team {
  position: relative;
  display: flex;
  max-width: 1143px;
  margin-top: 60px;

  &-item {
    position: relative;
    flex-basis: 279px;
    &__shadow {
      @include teamPicShadow;
      display: none;
    }
    &__social {
      position: absolute;
    }
    &__pic1 {
      background-image: url(../img/team-pic1.png);
      @include teamPic;
      position: relative;
      &:hover div {
        display: block;
        @media (max-width: 414px) {
          display: none;
        }
      }
    }
    &__pic2 {
      background-image: url(../img/team-pic2.png);
      @include teamPic;
      position: relative;
      &:hover div {
        display: block;
        @media (max-width: 414px) {
          display: none;
        }
      }
    }
    &__pic3 {
      background-image: url(../img/team-pic3.png);
      @include teamPic;
      position: relative;
      &:hover div {
        display: block;
        @media (max-width: 414px) {
          display: none;
        }
      }
    }
    &__pic4 {
      background-image: url(../img/team-pic4.png);
      @include teamPic;
      position: relative;
      &:hover div {
        display: block;
        @media (max-width: 414px) {
          display: none;
        }
      }
    }
    &__title {
      text-align: center;
      margin-top: 14px;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }

    &__subtitle {
      text-align: center;
      margin-top: -4px;
      font-size: 13px;
    }
  }

  .block-social {
    display: flex;
    justify-content: center;
    width: 263px;
    padding-top: 200px;
    @media (max-width: 1200px) {
      padding-top: 172px;
      width: 210px;
    }
    @media (max-width: 1024px) {
      padding-top: 172px;
      width: 210px;
    }
    li {
      list-style-type: none;
      padding-left: 20px;
      :hover {
        width: 35px;
        height: 25px;
        background-color: $accent-red;
      }
    }
    &-icon {
      width: 20px;
      height: 25px;
      color: $white-color;
      text-align: center;
      align-self: center;
      padding-top: 10px;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 33%;
    z-index: 10;
    width: 35px;
    height: 38px;
    border: none;
    font-size: 0;
    &:hover {
      background: $accent-red;
    }
  }
  .slick-next {
    left: 0;
    font-size: 0;
    background-image: url(../img/arrow_next.svg);
    color: white;
  }
  .slick-prev {
    right: 0;
    font-size: 0;
    background-image: url(../img/arrow_prev.svg);
    color: white;
  }
}
.prev_arrow {
  position: absolute;
  img {
    position: absolute;
    top: -206px;
    left: 1071px;
    width: 25px;
    height: 25px;
    @media (max-width: 1200px) {
      left: 900px;
    }
    @media (max-width: 768px) {
      left: 660px;
      top: -195px;
    }
    @media (max-width: 550px) {
      left: 450px;
    }
    @media (max-width: 414px) {
      left: 336px;
      top: -260px;
    }
    @media (max-width: 360px) {
      left: 280px;
      top: -212px;
    }
    @media (max-width: 320px) {
      left: 247px;
    }
  }
  :hover {
    width: 25px;
    height: 30px;
    background-color: $accent-red;
    @media (max-width: 414px) {
      display: none;
    }
  }
}
.next_arrow {
  position: absolute;
  img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -206px;
    @media (max-width: 768px) {
      top: -195px;
    }
    @media (max-width: 414px) {
      top: -260px;
    }
    @media (max-width: 360px) {
      top: -212px;
    }
  }
  :hover {
    width: 25px;
    height: 30px;
    background-color: $accent-red;
    @media (max-width: 414px) {
      display: none;
    }
  }
}
.page-works {
  height: 1385px;
  @media (max-width: 1200px) {
    height: 1295px;
  }
  @media (max-width: 1024px) {
    height: 1240px;
  }
  @media (max-width: 768px) {
    height: 1000px;
  }
  @media (max-width: 550px) {
    height: 1410px;
  }
  @media (max-width: 414px) {
    height: 2918px;
  }
  @media (max-width: 360px) {
    display: none;
  }
}
.container-works {
  padding-top: 72px;
  @media (max-width: 768px) {
    padding-top: 50px;
  }
  &__title {
    @include title;
  }
  &-menu {
    display: flex;
    text-align: center;
    margin-top: 52px;
    padding-left: 345px;
    @media (max-width: 1200px) {
      padding-left: 280px;
    }
    @media (max-width: 768px) {
      padding-left: 140px;
    }
    @media (max-width: 550px) {
      padding-left: 52px;
    }
    @media (max-width: 414px) {
      flex-direction: column;
      padding-left: 0;
    }

    &__item {
      list-style-type: none;
      padding-left: 24px;
      @media (max-width: 414px) {
        padding-top: 15px;
        padding-left: 43px;
      }
      @media (max-width: 320px) {
        padding-left: 8px;
      }
      a {
        text-decoration: none;
        font-size: 16px;
        color: black;
      }
      a:hover {
        color: $accent-red;
      }
    }
  }
}
.block-works {
  display: flex;
  flex-wrap: wrap;
  margin-top: 74px;
  @media (max-width: 414px) {
    text-align: start;
    padding-left: 50px;
  }

  &__transperent {
    @include workPicTransperent;
    display: none;
  }
  &__text {
    display: flex;
    color: $white-color;
    text-align: center;
    margin-top: 100px;
    z-index: 2;
    @media (max-width: 768px) {
      margin-top: 70px;
    }

    &-title {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
    &-subtitle {
      font-size: 12px;
      margin-bottom: 42px;
    }
    &-btn {
      text-decoration: none;
      color: rgba(192, 48, 28, 0.5);
      background-color: $white-color;
      padding: 8px 22px;
      @media (max-width: 768px) {
        padding: 0 6px;
      }
    }
  }

  &__item1 {
    background-image: url(../img/works1.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item2 {
    background-image: url(../img/works2.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item3 {
    background-image: url(../img/works3.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item4 {
    background-image: url(../img/works4.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item5 {
    background-image: url(../img/works5.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item6 {
    background-image: url(../img/works6.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item7 {
    background-image: url(../img/works7.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item8 {
    background-image: url(../img/works8.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
  &__item9 {
    background-image: url(../img/works9.png);
    @include worksPic;
    position: relative;
    &:hover div {
      display: block;
    }
  }
}
.page-red {
  background-image: url(../img/bg-red.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  position: relative;
  @media (max-width: 1024px) {
    height: 280px;
  }
  @media (max-width: 768px) {
    height: 260px;
  }
  @media (max-width: 414px) {
    height: 320px;
  }
  &__shadow::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(192, 48, 28, 0.5);
    z-index: 1;
  }
}
.block-intouch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  height: 370px;
  color: $white-color;
  align-items: center;
  align-content: center;
  @media (max-width: 1024px) {
    height: 280px;
  }
  @media (max-width: 768px) {
    height: 260px;
  }
  @media (max-width: 414px) {
    height: 320px;
  }
  p {
    margin: 0 auto 10px;
    font-size: 30px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 320px) {
      font-size: 15px;
    }
  }

  a {
    text-decoration: none;
    color: $white-color;
    text-transform: uppercase;
    border: 2px solid $white-color;
    font-size: 18px;
    padding: 13px 25px;
    margin-top: 36px;
    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.page-blog {
  height: 1080px;
  @media (max-width: 1200px) {
    height: 970px;
  }
  @media (max-width: 768px) {
    height: 840px;
  }
  @media (max-width: 550px) {
    height: 1300px;
  }
  @media (max-width: 414px) {
    height: 1400px;
  }
  @media (max-width: 360px) {
    height: 1300px;
  }
}
.container-blog {
  margin-top: 90px;
  @media (max-width: 1024px) {
    margin-top: 70px;
  }
  &__title {
    @include title;
  }
  &__subtitle {
    @include subtitle;
  }
}
.block-posts {
  display: flex;
  flex-wrap: wrap;
  &-item {
    margin-top: 50px;
    display: flex;
    flex-basis: 100%;
    @media (max-width: 550px) {
      flex-direction: column;
    }
    @media (max-width: 414px) {
      width: 350px;
    }
    @media (max-width: 360px) {
      width: 300px;
    }
    &__pic {
      img {
        width: 460px;
        height: 322px;
        @media (max-width: 768px) {
          width: 300px;
          height: 215px;
        }
        @media (max-width: 550px) {
          width: 477px;
          height: 266px;
          padding-left: 15px;
        }
        @media (max-width: 414px) {
          width: 345px;
          height: 245px;
        }
        @media (max-width: 360px) {
          width: 293px;
          height: 225px;
        }
        @media (max-width: 320px) {
          width: 225px;
          height: 190px;
          padding-left: 10px;
        }
      }
    }
    &-text {
      margin-left: 45px;
      @media (max-width: 550px) {
        margin-left: 8px;
        margin-top: 30px;
      }

      &__title {
        display: flex;
        &-date {
          display: flex;
          flex-direction: column;
          border: 2px solid black;
          width: 70px;
          height: 51px;
          padding: 10px 1px;
          text-transform: uppercase;
          font-weight: bold;
          font-family: "Montserrat", sans-serif;
          text-align: center;
          font-size: 25px;
          margin-right: 30px;
          @media (max-width: 1024px) {
            width: 53px;
          }
          @media (max-width: 768px) {
            padding: 0;
            font-size: 25px;
            width: 85px;
          }
          @media (max-width: 550px) {
            width: 52px;
          }
          @media (max-width: 360px) {
            width: 84px;
            margin-right: 18px;
          }

          span {
            font-size: 15px;
            padding-top: 2px;
          }
        }
        a {
          text-decoration: none;
          color: black;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          @media (max-width: 768px) {
            font-size: 18px;
          }
          @media (max-width: 550px) {
            font-size: 18px;
          }
          @media (max-width: 360px) {
            font-size: 15px;
          }

          &:hover {
            color: $accent-red;
          }
        }
        p {
          @media (max-width: 768px) {
            font-size: 12px;
          }
          @media (max-width: 550px) {
            font-size: 15px;
          }
          @media (max-width: 360px) {
            font-size: 12px;
          }
        }
        small {
          font-size: 13px;
        }
      }
      &__desc {
        margin-top: 22px;
        line-height: 24px;
        font-size: 14px;
        @media (max-width: 768px) {
          margin-top: 4px;
          line-height: 16px;
          font-size: 12px;
        }
        @media (max-width: 768px) {
          font-size: 15px;
        }
        @media (max-width: 360px) {
          font-size: 12px;
        }
      }
      &__btn {
        text-decoration: none;
        color: black;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
          color: $accent-red;
        }
      }
    }
  }
}
.page-grey {
  height: 480px;
  background-color: $bg-grey;
  @media (max-width: 1024px) {
    height: 370px;
  }
  @media (max-width: 768px) {
    height: 380px;
  }
  @media (max-width: 550px) {
    height: 420px;
  }
  @media (max-width: 414px) {
    height: 300px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    padding-top: 100px;
    padding-left: 78px;
    @media (max-width: 1200px) {
      width: 800px;
    }
    @media (max-width: 1024px) {
      padding-top: 50px;
    }
    @media (max-width: 768px) {
      padding-top: 50px;
      padding-left: 0;
      width: 690px;
    }
    @media (max-width: 550px) {
      flex-wrap: wrap;
      width: 490px;
    }
    @media (max-width: 414px) {
      display: none;
    }
  }
  &__slider {
    text-align: center;
    margin: 52px auto 0;
    @media (max-width: 1200px) {
      padding-left: 28px;
    }
    @media (max-width: 1024px) {
      padding-left: 40px;
    }
    @media (max-width: 768px) {
      padding-left: 26px;
      margin-top: 20px;
    }
    @media (max-width: 320px) {
      padding-left: 2px;
    }
    &-text {
      font-size: 18px;
      line-height: 13px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 25px;
      }
    }
    &-tx {
      margin-top: 42px;
      letter-spacing: 1px;
      font-size: 18px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    @media (max-width: 1024px) {
      padding-left: 8px;
    }
    & > li {
      list-style-type: none;
      margin: 0 5px;
      & > button {
        text-indent: -9999px;
        width: 13px;
        height: 13px;
        border: none;
        border-radius: 100%;
        background-color: $grey-dots;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      & > button:hover {
        background-color: $accent-red;
      }
    }
  }
  .slick-slide {
    &:focus {
      outline: none;
    }
  }
}

.page-form {
  height: 665px;
  @media (max-width: 1200px) {
    height: 710px;
  }
  @media (max-width: 1024px) {
    height: 780px;
  }
  @media (max-width: 768px) {
    height: 665px;
  }
  @media (max-width: 550px) {
    height: 970px;
  }
}
.block-form {
  &__title {
    margin-top: 94px;
    @include title;
    @media (max-width: 1024px) {
      margin-top: 70px;
    }
  }
  &__subtitle {
    @include subtitle;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    width: 1128px;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
}
.box {
  width: 210px;
  height: 265px;
  @media (max-width: 1200px) {
    height: 170px;
  }
  @media (max-width: 768px) {
    height: 120px;
  }

  &-item {
    font-size: 12px;
    line-height: 6px;
    @media (max-width: 1200px) {
      display: flex;
      justify-content: space-between;
      width: 785px;
      padding-left: 90px;
    }
    @media (max-width: 1200px) {
      width: 710px;
      padding-left: 140px;
    }
    @media (max-width: 1024px) {
      padding-left: 115px;
    }
    @media (max-width: 768px) {
      padding-left: 40px;
      width: 640px;
    }
    @media (max-width: 550px) {
      flex-direction: column;
    }
    &__adress {
      position: relative;
      padding-bottom: 18px;
      &-title {
        @include boxItemTitle;
      }
    }
    &__location {
      position: absolute;
      left: -24px;
    }
    &__hotline {
      position: relative;
      padding-bottom: 18px;
      &-title {
        @include boxItemTitle;
      }
    }
    &__mobile {
      position: absolute;
      left: -24px;
    }
    &__email {
      position: relative;
      padding-bottom: 18px;
      &-title {
        @include boxItemTitle;
      }
    }
    &__envelope {
      position: absolute;
      left: -24px;
    }
  }
}
.contacts {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 730px;
  height: 319px;
  @media (max-width: 1200px) {
    width: 915px;
    padding-left: 30px;
  }
  @media (max-width: 768px) {
    width: 650px;
    flex-direction: column;
  }
  @media (max-width: 550px) {
    margin-top: 200px;
    width: 438px;
  }
  @media (max-width: 320px) {
    padding-left: 8px;
  }

  &-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1024px) {
      max-width: 900px;
    }
    @media (max-width: 768px) {
      position: relative;
    }
    @media (max-width: 414px) {
      max-width: 300px;
    }
    @media (max-width: 360px) {
      max-width: 250px;
    }
    small {
      padding-right: 179px;
      padding-top: 16px;
      font-size: 12px;
      @media (max-width: 1200px) {
        padding-right: 395px;
      }
      @media (max-width: 1024px) {
        padding-right: 375px;
      }
      @media (max-width: 768px) {
        position: absolute;
        top: 260px;
        left: 185px;
        padding: 0;
      }
      @media (max-width: 550px) {
        top: 363px;
      }
      @media (max-width: 414px) {
        top: 356px;
        left: 180px;
      }
      @media (max-width: 360px) {
        left: 140px;
      }
    }
    small::before {
      content: "*";
      color: $accent-red;
    }

    &__input {
      width: 333px;
      height: 40px;
      border: 1px solid #424141;
      text-transform: uppercase;
      font-size: 12px;
      padding-left: 15px;
      &:focus {
        border: 2px solid $accent-red;
        outline: none;
      }
      @media (max-width: 1200px) {
        width: 420px;
      }
      @media (max-width: 768px) {
        margin-top: 13px;
        width: 300px;
      }
      @media (max-width: 550px) {
        width: 420px;
      }
    }

    &__area {
      width: 100%;
      height: 85px;
      border: 1px solid #555555;
      text-transform: uppercase;
      font-size: 12px;
      padding-top: 13px;
      padding-left: 15px;
      @media (max-width: 768px) {
        margin-top: 13px;
      }
      &:focus {
        border: 2px solid $accent-red;
        outline: none;
      }
    }
    &__btn {
      width: 171px;
      height: 43px;
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid hsl(0, 0%, 33%);
      font-size: 13px;
      @media (max-width: 768px) {
        margin-top: 13px;
      }
      @media (max-width: 360px) {
        width: 124px;
      }
      &:focus {
        border: 2px solid $accent-red;
        outline: none;
        color: $accent-red;
        font-weight: bold;
      }
    }
  }
}
footer {
  height: 307px;
  background-color: $accent-red;
  @media (max-width: 1200px) {
    height: 260px;
  }
  @media (max-width: 1024px) {
    height: 220px;
  }
  @media (max-width: 768px) {
    height: 180px;
  }
  @media (max-width: 360px) {
    height: 230px;
  }
}
.block-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 307px;
  @media (max-width: 1200px) {
    height: 260px;
  }
  @media (max-width: 1024px) {
    height: 220px;
  }
  @media (max-width: 768px) {
    height: 180px;
  }
  @media (max-width: 360px) {
    height: 230px;
  }

  &__socials {
    display: flex;
    padding: 30px;
    list-style-type: none;

    i {
      width: 16px;
      height: 16px;
      color: $white-color;
      border: 2px solid $white-color;
      border-radius: 100%;
      padding: 7px;
      margin-left: 14px;
    }
  }
  &__text {
    p {
      color: $white-color;
      text-transform: uppercase;
      position: relative;
      font-size: 12px;
      padding: 16px;
      margin-left: 16px;
      @media (max-width: 320px) {
        line-height: 1.7;
      }
    }
  }
  &__text::before {
    content: " ";
    position: absolute;
    background-color: $white-color;
    height: 2px;
    width: 50px;
    left: 656px;
    @media (max-width: 1200px) {
      left: 537px;
    }
    @media (max-width: 1024px) {
      left: 490px;
    }
    @media (max-width: 768px) {
      left: 358px;
    }
    @media (max-width: 550px) {
      left: 258px;
    }
    @media (max-width: 414px) {
      left: 185px;
    }
    @media (max-width: 360px) {
      left: 149px;
    }
    @media (max-width: 320px) {
      left: 134px;
    }
  }
}
