@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$white-color: #ffffff;
$bg-grey: #f8f8f8;

body {
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}
.page-main {
  position: relative;
  background-image: url(../img/bgmain.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  color: $white-color;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1147px;
  margin: 0 auto;
  padding: 44px;
  &__logo {
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 23px;
    font-weight: bold;
  }
  &-menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    &__item {
      padding-left: 39px;
      letter-spacing: 0.6px;
      font-size: 17px;
      a {
        text-decoration: none;
        color: $white-color;
      }
    }
  }
}
.wrap {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1147px;
  margin: 200px auto;
}
.block-title {
  text-align: center;
  &__title {
    font-size: 49px;
    text-transform: uppercase;
  }
  &__btn {
    text-decoration: none;
    color: $white-color;
    border: solid $white-color 1px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 17px;
    padding: 14px 34px;
  }
  &__desc {
    margin-bottom: 30px;
    font-size: 23px;
    letter-spacing: 0.2px;
    margin-bottom: 58px;
  }
}
.container {
  margin: 0 auto;
}
.container-title {
  height: 580px;
  padding-top: 72px;
  &__title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding-left: 37px;
    font-weight: bold;
    &::after {
      content: " ";
      position: absolute;
      display: block;
      background-color: black;
      height: 3px;
      width: 50px;
      left: 549px;
      top: 49px;
    }
  }
  &__subtitle {
    text-align: center;
    margin-top: 51px;
    padding-left: 33px;
    font-size: 16px;
    line-height: 24px;
  }
  &-menu {
    display: flex;
    text-align: center;
    margin-top: 52px;
    padding-left: 345px;

    &__item {
      list-style-type: none;
      padding-left: 24px;
      a {
        text-decoration: none;
        font-size: 16px;
      }
    }
  }
}
.block-services {
  display: flex;
  &__item {
    flex-basis: 350px;
    margin-left: 30px;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  &__desc {
    font-size: 14px;
    line-height: 24px;
  }
}
.page {
  background-color: $bg-grey;
  height: 852px;
}

.block-description {
  display: flex;
  margin-top: 48px;
  &-item {
    font-size: 14px;
    line-height: 24px;
  }
}
.block-team {
  display: flex;
  max-width: 1143px;
  margin-top: 60px;
  &-item {
    flex-basis: 279px;
    &__pic {
    }
    &__title {
      text-align: center;
      margin-top: 14px;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__subtitle {
      text-align: center;
      margin-top: -4px;
      font-size: 13px;
    }
  }
}
.page-works {
  height: 6472px;
}
