<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Startup</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page-main">
      <header>
        <div class="block-header">
          <a class="block-header__logo">Startup</a>
          <ul class="block-header-menu">
            <li class="block-header-menu__item"><a href="">Home</a></li>
            <li class="block-header-menu__item"><a href="">Services</a></li>
            <li class="block-header-menu__item"><a href="">About</a></li>
            <li class="block-header-menu__item"><a href="">Works</a></li>
            <li class="block-header-menu__item"><a href="">Blog</a></li>
            <li class="block-header-menu__item"><a href="">Clients</a></li>
            <li class="block-header-menu__item"><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="wrap">
          <div class="block-title">
            <h1 class="block-title__title">
              Welcome to STARTUP
            </h1>
            <p class="block-title__desc">
              Your Favourite Creative Agency Template
            </p>
            <a href="" class="block-title__btn">Get Started</a>
          </div>
        </div>
      </header>
    </div>
    <div class="container container-white">
      <p class="container-white__title">Services</p>
      <p class="container-white__subtitle">
        We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
      </p>
      <div class="block-services">
        <div class="block-services__item">
          <div class="block-services__svg"></div>
          <p class="block-services__title">Clean Typography</p>
          <p class="block-services__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum.
          </p>
        </div>
        <div class="block-services__item">
          <div class="block-services__svg"></div>
          <p class="block-services__title">Rock Solid Code</p>
          <p class="block-services__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum.
          </p>
        </div>
        <div class="block-services__item">
          <div class="block-services__svg"></div>
          <p class="block-services__title">Expert Support</p>
          <p class="block-services__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum.
          </p>
        </div>
      </div>
    </div>

    <script src="../js/main.js"></script>
    <script src="../js/vendor.js"></script>
  </body>
</html>
