<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Startup</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page-main">
      <header>
        <div class="block-header">
          <a class="block-header__logo">Startup</a>
          <ul class="block-header-menu">
            <li class="block-header-menu__item"><a href="">Home</a></li>
            <li class="block-header-menu__item"><a href="">Services</a></li>
            <li class="block-header-menu__item"><a href="">About</a></li>
            <li class="block-header-menu__item"><a href="">Works</a></li>
            <li class="block-header-menu__item"><a href="">Blog</a></li>
            <li class="block-header-menu__item"><a href="">Clients</a></li>
            <li class="block-header-menu__item"><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="wrap">
          <div class="block-title">
            <h1 class="block-title__title">
              Welcome to STARTUP
            </h1>
            <p class="block-title__desc">
              Your Favourite Creative Agency Template
            </p>
            <a href="" class="block-title__btn">Get Started</a>
          </div>
        </div>
      </header>
    </div>

    <div class="container container-title">
      <p class="container-title__title">Services</p>
      <p class="container-title__subtitle">
        We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
      </p>
      <div class="block-services">
        <div class="block-services__item">
          <div class="block-services__svg"></div>
          <p class="block-services__title">Clean Typography</p>
          <p class="block-services__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum.
          </p>
        </div>
        <div class="block-services__item">
          <div class="block-services__svg"></div>
          <p class="block-services__title">Rock Solid Code</p>
          <p class="block-services__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum.
          </p>
        </div>
        <div class="block-services__item">
          <div class="block-services__svg"></div>
          <p class="block-services__title">Expert Support</p>
          <p class="block-services__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum.
          </p>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="container container-title">
        <p class="container-title__title">About us</p>
        <p class="container-title__subtitle">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
        </p>
        <div class="block-description">
          <p class="block-description-item">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam
            nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed
            diam voluptua. At vero eos et accusam et justo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem
            ipsum dolor sit amet. Lorem ipsum eat.
          </p>
          <p class="block-description-item">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam
            nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed
            diam voluptua. At vero eos eaccusam et justo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum
            dolor sit amet. Lorem ipsum dolor et.
          </p>
        </div>
        <div class="block-team">
          <div class="block-team-item">
            <div class="block-team-item__pic">
              <img src="../img/team-pic1.png" alt="" />
            </div>
            <p class="block-team-item__title">Md. Khalil Uddin</p>
            <p class="block-team-item__subtitle">Head of Ideas</p>
          </div>
          <div class="block-team-item">
            <div class="block-team-item__pic">
              <img src="../img/team-pic2.png" alt="" />
            </div>
            <p class="block-team-item__title">Rubel Miah</p>
            <p class="block-team-item__subtitle">Lead WordPress Developer</p>
          </div>
          <div class="block-team-item">
            <div class="block-team-item__pic">
              <img src="../img/team-pic3.png" alt="" />
            </div>
            <p class="block-team-item__title">Shamim Mia</p>
            <p class="block-team-item__subtitle">Sr. Web Developer</p>
          </div>
          <div class="block-team-item">
            <div class="block-team-item__pic">
              <img src="../img/team-pic4.png" alt="" />
            </div>
            <p class="block-team-item__title">John Doe</p>
            <p class="block-team-item__subtitle">Front-end Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-works">
      <div class="container container-title">
        <p class="container-title__title">Latest Works</p>
        <ul class="container-title-menu">
          <li class="container-title-menu__item"><a href="">All</a></li>
          <li class="container-title-menu__item"><a href="">Branding </a></li>
          <li class="container-title-menu__item"><a href="">Design</a></li>
          <li class="container-title-menu__item"><a href="">Development</a></li>
          <li class="container-title-menu__item"><a href="">Strategy</a></li>
        </ul>
      </div>
      <div class="block-works">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <script src="../js/main.js"></script>
    <script src="../js/vendor.js"></script>
  </body>
</html>
